<AbsoluteLayout>
    <Label id="it1" left="10" top="10" text="Item 1" row="0" col="0" colSpan="3"></Label>
    <Label id="it2" left="110" top="10" text="Item 2" row="2" col="1" rowSpan="4"></Label>
    <Label id="it3" left="110" top="110" text="Item 3" row="1" col="2" verticalAlignment="center"></Label>
</AbsoluteLayout>

<!-- absolute layout is a layout that would not really be useful as a main layout

for your page there you instead typically use the stack grid or flex books layout but for a single component

a single piece of your user interface.

And remember that you can have a layout in a novel.

So you can have the absolute layout in a small part of your UI in such a case as you could be useful

consider an image with some text across it there the absolute layout could help you have the image as

one element which takes up the full width and height and then an additional label positioned at the

bottom.

So basically pushed all the way down and then on the left off that image so that you have these overlapping

elements positioned in an absolute space in a part of your user interface a part of your screen is where

things like the absolute layout can really help. -->