<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<StackLayout>
    <!-- (input) is an event emitter decalred inside its component, decorated by @Output() = custom component event binding -->
    <ns-challenge-edit (input)="onChallengeInput($event)"></ns-challenge-edit>
    <!-- [currentChallenge] is an event emitter decalred inside its component, decorated by @Input() = component property binding -->
    <ns-current-challenge [challenges]="activeChallenge"></ns-current-challenge>
</StackLayout>