/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */
/* Label {

    height: 40;
    width: 80;
} */

#it1 {
    background-color: red;
}

#it2 {
    background-color: green;
}

#it3 {
    background-color: brown;
}

#it4 {
    background-color: orange;
}

#it5 {
    background-color: blue;
}

/* solution 3 css */
FlexboxLayout {
    border-color: green;
    border-width: 2;
    width: 350;
    height: 70%;
    background-color: pink;
}