/* Add mobile styles for the component here.  */
Label {

    height: 100;
    width: 250;
}

#it1 {
    background-color: red;
}

#it2 {
    background-color: green;
}

#it3 {
    background-color: yellow;
}

FlexboxLayout {
    border-color: green;
    border-width: 2;
    width: 120;
}