<!-- <Button text="flexbox works!" class="btn btn-primary"></Button> -->

<!-- <FlexboxLayout flexDirection="column-reverse" justifyContent="center">
    <Label id="it1" text="Item 1" horizontalAlignment="center"></Label>
    <Label id="it2" text="Item 2" verticalAlignment="top"></Label>
    <Label id="it3" text="Item 3"></Label>
</FlexboxLayout> -->

<!-- <FlexboxLayout flexDirection="row-reverse" justifyContent="flex-end">
    <Label id="it1" text="Item 1" horizontalAlignment="center"></Label>
    <Label id="it2" text="Item 2" verticalAlignment="top"></Label>
    <Label id="it3" text="Item 3"></Label>
</FlexboxLayout> -->

<!-- <FlexboxLayout flexDirection="row" alignItems="flex-start">
    <Label id="it1" text="Item 1"></Label>
    <Label id="it2" text="Item 2"></Label>
    <Label id="it3" text="Item 3"></Label>
</FlexboxLayout> -->
<!-- 
<FlexboxLayout flexWrap="nowrap" flexDirection="row" alignItems="flex-start" justifyContent="center">
    <Label id="it1" text="Item 1"></Label>
    <Label id="it2" text="Item 2"></Label>
    <Label id="it3" text="Item 3"></Label>
</FlexboxLayout> -->